<nav>
	<ul>
		<li>
			<a href="{{ path('app_catalogue') }}">Catalogue</a>
		</li>
	</ul>

	<ul>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<li>
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</li>
<li><img src="{{ asset('assets/images/user.png') }}" alt="" class="avatar"></li>

		{% else %}
			<li>
				<a href="{{ path('app_login') }}">Connexion</a>
			</li>
			<li>
				<a href="{{ path('app_register') }}">Inscription</a>
			</li>
			<li><img src="{{ asset('assets/images/avatar.png') }}" alt="" class="avatar"></li>
		{% endif %}
		{% if is_granted('ROLE_ADMIN') %}
			<li>
				<a href="{{ path('app_produit_index') }}">Gestion Catalogue</a>
			</li>
		{% endif %}

	</ul>
</nav>

